.navBar{
    height: 10%;
    width: 100%;
    position: fixed;
    z-index: 2;
    background: rgba(0, 0, 0, 0.231);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8.7px);
    -webkit-backdrop-filter: blur(8.7px);
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.navBar-header{
 width: 50%;
 padding-left: 1rem;
 box-sizing: border-box;
}

.navBar-tabs{
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.navBar-tab{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2rem;
    font-family: serif;
}

.navBar-tab.active{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2rem;
    box-sizing: content-box;
    font-family: serif;
    border-bottom: 4px white solid;
}